@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
.details-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
h3{
    font-size: 20px;
    margin: 0;
}
h5{
    margin: 0.15em;
    font-size: 15px;
    font-weight: 300;
}
.info-group-1 {
    display: flex;
    flex-direction: row;
  }
.info-group-2 {
  text-align: right;
}
.info-group-item{
    margin: 0 0.5em;
}
#main {
    margin-right: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
  font-size: 30px;
}
#config {
    margin-left: 0;
   display: flex;
   align-items: center;
  font-size: 15px;
}
.temperatureConfig-item{
    margin: 0.15em;
}
#secondary {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
