@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.preview-wrapper{
    margin:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.day-card{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    background-color:#f2f2f2 ;
    border-radius: 10px;
    min-width: 15vh;
    max-height: 20vh;
}
